    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li <% if(link === 'home'){ %> class="active" <% } %> >
                        <a href="/"><i class="menu-icon fa fa-laptop"></i><%- __('Dashboard') %> </a>
                    </li>
                    <!-- <li class="menu-title">UI elements</li> -->
                    <li class="menu-item-has-children dropdown <% if(['employees','table'].includes(link)){ %> active <% } %>">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Tables</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="/tabs">Tabs</a></li>
                        </ul>
                    </li>
                   

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <i class="menu-icon fa fa-barcode"></i><%- __('Product') %> </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-plus"></i><a href="/product/add"><%- __('Add product') %></a></li>
                            <li><i class="menu-icon fa fa-table"></i><a href="/product/list"><%- __('Products') %></a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <i class="menu-icon fa fa-usd"></i>Sales</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-plus"></i><a href="/sale/add">Add sale</a></li>
                            <li><i class="menu-icon fa fa-table"></i><a href="/sale/list">Sales</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <i class="menu-icon fa fa-folder-open-o"></i>Invoices</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-plus"></i><a href="/invoice/add">Add invoice</a></li>
                            <li><i class="menu-icon fa fa-table"></i><a href="/invoice/list">Invoices</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <i class="menu-icon fa fa-users"></i>Customers</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-plus"></i><a href="/customer/add">Add customer</a></li>
                            <li><i class="menu-icon fa fa-table"></i><a href="/customer/list">Customers</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <i class="menu-icon fa fa-users"></i>Employees</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-plus"></i><a href="/employee/add">Add employee</a></li>
                            <li><i class="menu-icon fa fa-table"></i><a href="/employee/list">Employees</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <i class="menu-icon fa fa-tasks"></i>Tasks</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-plus"></i><a href="#">Add Task</a></li>
                            <li><i class="menu-icon fa fa-table"></i><a href="#">My tasks</a></li>
                            <li><i class="menu-icon fa fa-table"></i><a href="#">All tasks</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <i class="menu-icon fa fa-money"></i>Expenses</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-plus"></i><a href="#">Add expense</a></li>
                            <li><i class="menu-icon fa fa-table"></i><a href="#">Expenses</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <i class="menu-icon fa fa-credit-card"></i>Loan</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-plus"></i><a href="#">Add loan</a></li>
                            <li><i class="menu-icon fa fa-table"></i><a href="#">Active loans</a></li>
                            <li><i class="menu-icon fa fa-table"></i><a href="#">Old loans</a></li>
                        </ul>
                    </li>


                </ul>
            </div>
        </nav>
    </aside>